a code {
 color: $link-color;
}

a:hover code {
 color: $link-color-hover;
}
a:focus code {
 color: $link-color-hover;
}
a:visited code {
 color: $link-color-visited;
}
a:active code {
 color: $link-color-active;
}

a code {
  @include transition(color .3s);
}

a {
  text-decoration: none;
}

figcaption p {
  margin: 0;
}
