<section>
<h1> About Me </h1>
<div id="about">
    I'm a third year physics student studying at IIT Bombay.
In my spare time I do a lot of programming, often open source,
and participate in communities like Stack Exchange.<br/><br/>

These days I contribute to the <a href="http://github.com/servo/servo">Servo browser engine</a>
and occasionally to the <a href="http://github.com/rust-lang/rust">Rust programming language</a>
</div>
<div id="doodads">
 <a href="http://twitter.com/Manishearth" style="white-space:normal">   <img style="border:none;box-shadow:none" src="/images/twitter.png" width="30px"></a>
 <a href="http://github.com/Manishearth" style="white-space:normal">   <img style="border:none;box-shadow:none"  src="/images/github.png" width="30px"></a>
</div>
</section>
<section>
<iframe scrolling="no" style="border: 0; height: 58px; width: 208px; overflow: hidden;" src="https://se-flair.appspot.com/751483b5-3bd0-467a-b3aa-f0bb8ac3887d/"></iframe>
</section>