.footnotes {
    font-size: 75%;
}

.header-anchor {
    margin-left: -15px;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    float: left;
    line-height: 1;
}

.header-anchor:visited {
    color: black;
}

.header-anchor:hover {
    color: #0181eb;
}

.header-anchor:focus {
    color: #0181eb;
}

.header-anchor-inner {
    width: 15px;
    vertical-align:middle;
    visibility: hidden;
}

.entry-content h1:hover .header-anchor-inner,
.entry-content h2:hover .header-anchor-inner,
.entry-content h3:hover .header-anchor-inner,
.entry-content h4:hover .header-anchor-inner,
.entry-content h5:hover .header-anchor-inner,
.entry-content h6:hover .header-anchor-inner {
    visibility: visible;
}

/* aside style taken from bikeshed: https://tabatkins.github.io/bikeshed/ */
.post-aside {
    background: #e9fbe9;
    border-color: #52e052;
    padding: 0.5em;
    border-width: 0.5em;
    border-left-style: solid;
    margin: 1em auto;
    font-size: 0.9em;
}

.post-aside p:last-child {
    margin-bottom: initial;
}

/*
This is handled in sass/_manish.scss
a code {
    color: #1863a1;
}

a code:visited {
    color: #751590;
}

a code:hover {
    color: #0181eb;
}

a code:active {
    color: #01579f;
}*/
