.footnotes {
    font-size: 75%;
}

.header-anchor {
    margin-left: -15px;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    float: left;
    line-height: 1;
}

.header-anchor:visited {
    color: black;
}

.header-anchor:hover {
    color: #0181eb;
}

.header-anchor:focus {
    color: #0181eb;
}

.header-anchor-inner {
    width: 15px;
    vertical-align:middle;
    visibility: hidden;
}

.entry-content h1:hover .header-anchor-inner,
.entry-content h2:hover .header-anchor-inner,
.entry-content h3:hover .header-anchor-inner,
.entry-content h4:hover .header-anchor-inner,
.entry-content h5:hover .header-anchor-inner,
.entry-content h6:hover .header-anchor-inner {
    visibility: visible;
}
