.footnotes {
    font-size: 75%;
}

.header-anchor {
    margin-left: -15px;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    float: left;
    line-height: 1;
}

.header-anchor:visited {
    color: black;
}

.header-anchor:hover {
    color: #0181eb;
}

.header-anchor:focus {
    color: #0181eb;
}

.header-anchor-inner {
    width: 15px;
    vertical-align:middle;
    visibility: hidden;
}

.entry-content h1:hover .header-anchor-inner,
.entry-content h2:hover .header-anchor-inner,
.entry-content h3:hover .header-anchor-inner,
.entry-content h4:hover .header-anchor-inner,
.entry-content h5:hover .header-anchor-inner,
.entry-content h6:hover .header-anchor-inner {
    visibility: visible;
}

/* aside style taken from bikeshed: https://tabatkins.github.io/bikeshed/ */
.post-aside {
    padding: 0.5em;
    border-width: 0.5em;
    border-left-style: solid;
    margin: 1em auto;
    font-size: 0.9em;
    position: relative;
}

.post-aside p:last-child {
    margin-bottom: initial;
}
.post-aside:not(.no-marker)::before {
    text-transform: uppercase;
    padding-right: 1em;
}

.post-aside-note, .discussion-note .discussion-text {
    background: #e9fbe9;
    border-color: #52e052;
}

.post-aside-note:not(.no-marker)::before {
    content: "Note";
    color: #574b0f;
}

.post-aside-example, .discussion-example .discussion-text {
    background: #fcfaee;
    border-color: #e0cb52;
}
.post-aside-example:not(.no-marker)::before {
    content: "Example";
    color: #574b0f;
}

.post-aside-issue, .discussion-issue .discussion-text {
    background: #fbe9e9;
    border-color: #e05252;
}

.post-aside-issue:not(.no-marker)::before {
    content: "Issue";
    color: #831616;
}

.discussion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px 10px 25px;
}

/* <p> tags have a bottom margin of 1.5em, which usually
   makes sense but we want our .discussion boxes to look more in sync */
p + .discussion {
    margin-top: -1.5em;
}

.discussion .discussion-text {
    flex-grow: 1;
    padding: 0.5em;
    border-width: 0.5em;
    border-left-style: solid;
    border-radius: 5px;
    margin: 1em auto;
/*    font-size: 0.9em;*/
    position: relative;
/*    left: 25px;*/
    min-height: 40px;
}

.discussion .discussion-spacer {
    width: 25px;
    flex-basis: 25px;
}
.discussion .discussion-text::after {
    content: "";
    position: absolute;
    border-style: solid;
    display:block;
    width:0;
    top: 10px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
}

.discussion-note .discussion-text::after {
    border-color: transparent #52e052;
}

.discussion-example .discussion-text::after {
    border-color: transparent #e0cb52;
}

.discussion-issue .discussion-text::after {
    border-color: transparent #e05252;
}

.discussion .bobblehead {
    background: white;
    width: 60px;
    height: 60px;
    flex-basis: 60px;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 30px;
    box-shadow:none;
}

/*
This is handled in sass/_manish.scss
a code {
    color: #1863a1;
}

a code:visited {
    color: #751590;
}

a code:hover {
    color: #0181eb;
}

a code:active {
    color: #01579f;
}*/
