// Image caption

@mixin reset-shadow-box() {
  @include shadow-box(0, #000, 0);
}

.caption {
    @include reset-shadow-box;
}

.caption-wrapper {
    @include shadow-box;
    @extend .flex-content;
    @extend .basic-alignment;
    display: inline-block;
    margin-bottom: 10px;
    background: #fff;
    .caption-text {
      background: #fff;
      text-align: center;
      font-size: .8em;
      color: #666;
      display: block;
      font-style: italic;
    }
}
